.about-hero-section {
  height: 100vh;
  background-size: cover;
}
.about-hero-section-image {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
}
.about-hero-text {
  color: white;
  margin-left: 12vw;
  position: absolute;
  height: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}
.section-headline {
  color: white;
  padding: 42px;
  font-size: 54px;
  text-transform: capitalize;
  text-align: center;
}
.why-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}

@media only screen and (min-width: 300px) and (max-width: 1200px) {
  .section-headline {
    color: white;
    padding: 18px;
    font-size: 54px;
    text-transform: capitalize;
    text-align: center;
  }
}
