@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap");
//   font-family: "Oooh Baby", cursive;
@import url("https://fonts.googleapis.com/css2?family=Hurricane&family=Oooh+Baby&display=swap");
// font-family: "Hurricane", cursive;

* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins";
  font-optical-sizing: auto;
}
body {
  margin: 0;
  line-height: normal;
  background-color: #0b1d26;
}

@import url(./assets/styles/index.scss);

// FIND BUG HELPER
/* * {
  outline: 1px solid #f00 !important;
} */
